@model List<ProductViewModel>

@section Styles
    @await Html.PartialAsync("_DataTablesCssPartial") @*Okunabilirliği artırmak için partial yaptık, ilgili kodlar _DataTablesPartial larda.*@
}
@section Scripts{
    @await Html.PartialAsync("_DataTablesJsPartial") 
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-6 text-primary">Ürünler</h1>
        </div>
        <div class=" col-md-6">
            <button class="btn btn-success float-end">Ürün Ekle</button>
        </div>
    </div>
    <table id=entityTable class="table">
        <thead>
            <tr>
                <th>Resim</th>
                <th>Id</th>
                <th>Ürün</th>
                <th>Fiyat</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td >
                    <img src="~/images/@p.ImageUrl" width="140" height="140" />
                </td>
                <td>
                    @p.Id
                </td>
                <td>
                    @p.Name
                </td>
                <td>
                    @p.Price
                </td>
                <td width="121">
                   <a asp-area="Admin" 
                   asp-controller="Product" 
                   asp-action="Edit"
                   asp-route-id="@p.Id"
                   class="btn btn-warning btn-sm">Düzenle</a>
                    
                   <a asp-area="Admin"
                   asp-controller="Product"
                   asp-action="Delete"
                   asp-route-id="@p.Id"
                   class="btn btn-danger btn-sm">Sil</a>
                </td>
            </tr>
        }
        </tbody>
    </table>

</div>